body {
  background: #DAB7F5;
  background: -webkit-linear-gradient(to left, #E8D2F9, #BC72F6);
  background: linear-gradient(to left, #E8D2F9, #BC72F6);
}

li.item {
  background-color: white;
}

.title, .title2 {
  margin: 20px 0;
}

.title2 {
  display: none;
}

.input-group-button {
  margin-right: 20px;
}

.input-group-field {
  border: 0;
  margin-right: 20px;
  width: auto;
}

.categorList {
  margin-bottom: 30px;
}

h2 {
  display: none;
}

.columns {
  padding: 0;
}

.item.template {
  display: none;
}

.item {
  border: 1px solid #ddd;
  clear: both;
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  transition: 0.25s;
}

/* .item that is directly preceded by an .item */
.item + .item {
  border-top: 0;
}

.itemName {
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100% - 200px);
  margin-right: 1rem;
}

.actions.button-group {
  margin-bottom: 0;
  white-space: nowrap;
}

/* A .button that is a descendent of an .actions */
.actions .button {
  padding: .65rem 0.8em
}

.item.star {
  background-color: #ffff55;
}

.item:first-child button.move-up,
.item:last-child button.move-down {
  background-color: #ddd;
  color: #eee;
  cursor: not-allowed;
}

.dropdownButton.button {
  cursor: pointer;
}

.dropdown-content {
  border: 1px solid black;
  display: none;
  position: absolute;
  z-index: 10;
}

.dropdown-content a {
  background-color: #A6DDF3;
  color: black;
  display: block;
  padding: 12px 16px;
}

.dropdown-content a:hover {
  background-color: cornflowerblue;
}

.show {
  display: block;
}